REDIS_HOST='redis'
REDIS_PORT='6379'
CLOVA_OCR_SECRET_KEY=''
CLOVA_OCR_INVOKE_URL=''
CLOVA_STUDIO_API_KEY=''
CLOVA_STUDIO_REQUEST_ID=''
CLOVA_API_KEY='NTA0MjU2MWZlZTcxNDJiY4XqH9PPxG2RmqYiu906VEl4kKTYNA4MG+lfa5euU9UN'
CLOVA_GATEWAY_KEY=''